.Todo__List {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.Todo {
  background-color: rgb(39, 36, 36);

  color: #f4f5f4;
}

#edit_btn {
  background-color: rgb(34, 5, 223);
  color: aliceblue;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .Todo__List {
    width: 95vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
}
