.App {
  background-color: rgb(70, 65, 65);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow-y: scroll;
  padding-top: 45px;
  height: 100vh;
}

button {
  background-color: blue;
}

.App::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}
